<header class="header">
	<%= link_to root_path, class: "header-link" do %>
    <div class="header-left">
      <img src="/images/menu.svg" class="menu-image"/>
      <span class="back-to-tiles">назад к коллекциям</span>
    </div>
  <% end %>
	<div class="logo">
		<img src="/images/logo.svg">
	</div>
	<div class="header-right">
		<span class="contact"><b>t</b>el: +38 (097) 750 72 77</span>
	</div>
</header>