<section class="invite_footer">
	<div class="invite_footer__content">
		<div class="invite_footer__side invite_footer__side--left">
			<h2>ЛУЧШЕ УВИДЕТЬ В ЖИВУЮ</h2>
			<p>
				Мы создали для вас место, где представлено более 250 коллекций плитки, камня, сантехники и мебели от премиальных брендов. 
				С целью комфорта за вами будет закреплен личный менеджер. По запросу также предоставляется услуга дизайнера. 
				В шоу-руме функционирует зона отдыха.
			</p>
		</div>
		<div class="invite_footer__side invite_footer__side--right">
			<button class="invite_button">ПОСЕТИТЬ ШОУ-РУМ</button>
			<div class="invite__note">Территория закрытого доступа, посещение по <span class="invite__note--highlighted">предварительной записи</span>.</div>
		</div>
	</div>
</section>

